<!-- Basic details -->
<div class="row">
    <div class="col-xs-6">
        <!-- name: -->
        <div class="row">
            <div class="col-xs-6 text-right">
                <label>Test Case: </label>
            </div>
            <div class="col-xs-6">
                <label><a href="/desk#Form/Test Case/{{ test_case_doc.name }}" style=" color: blue;">{{ test_case_doc.testcase_name or ''}}</a></label>
            </div>
        </div>
        <!-- description: -->
        <div class="row">
            <div class="col-xs-6 text-right">
                <label>Description: </label>
            </div>
            <div class="col-xs-6">
                {{ test_case_doc.testcase_desc or ''}}
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <!-- type: -->
        <div class="row">
            <div class="col-xs-6 text-right">
                <label>Test Case Type: </label>
            </div>
            <div class="col-xs-6">
                {{ test_case_doc.testcase_type or ''}}
            </div>
        </div>
        <!-- description: -->
        <div class="row">
            <div class="col-xs-6 text-right">
                <label>Test Case Doctype: </label>
            </div>
            <div class="col-xs-6">
                {{ test_case_doc.testcase_doctype or ''}}
            </div>
        </div>
    </div>
</div>

<br>

<!-- Test Data -->
<div class="row">
    <div class="col-xs-3 text-right">
        <label>Test Data: </label>
    </div>
    <div class="col-xs-9">
        <label><a href="/desk#Form/Test Data/{{ test_data_name }}" style=" color: #f47920;">{{ test_data_description or ''}}</a></label>
    </div>
</div>

<br>

<!-- Assertions -->
<label>Assertions</label>
<br>
{% if assertions %}
<table class="table table-bordered" style="margin:0px !important">
    <tr>
        <th class="text-center">Assertion Type</th>
        <th class="text-center">Doctype</th>
        <th class="text-center">DocField Name</th>
        <th class="text-center">DocField Value</th>
    </tr>
    {% for assertion in assertions %}
    <tr>
        <td class="text-center">{{assertion.assertion_type}}</td>
        <td class="text-center">{{assertion.doctype_name}}</td>
        <td class="text-center">{{assertion.docfield_name}}</td>
        <td class="text-center">{{assertion.docfield_value}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
No assertion added!
{% endif %}

<!-- Link to Test Case -->
<hr>
<label><a href="/desk#Form/Test Case/{{ test_case_doc.name }}" style=" color: blue;">Click here to open the Test Case - {{ test_case_doc.testcase_name or ''}}</a></label>